<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoGalleryCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E236F4871FCB2D430021A7DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E236F49B1FCB2D440021A7DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E236F4A61FCB2D440021A7DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
